/*
 * Copyright (C) 2015 Voipac.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;

#include "imx6q.dtsi"
#include "imx6qdl-rex.dtsi"

/ {
	model = "Fedevel i.MX6 Dual REX Board";
	compatible = "fsl,imx6q-rex", "fsl,imx6q";

	memory {
		reg = <0x10000000 0x20000000>;
	};
};

&i2c1 {
	status = "disabled";

	codec: sgtl5000@0a {
		compatible = "fsl,sgtl5000";
		reg = <0x0a>;
		clocks = <&clks 201>;
		VDDA-supply = <&reg_3p3v>;
		VDDIO-supply = <&reg_3p3v>;
	};
};

&i2c3 {
	status = "disabled";
};

&mxcfb1 {
	status = "okay";
};

&mxcfb2 {
	status = "disabled";
};

&mxcfb3 {
	status = "disabled";
};

&mxcfb4 {
	status = "disabled";
};

&pcie {
	status = "disabled";
};

&sata {
	status = "disabled";
};

&uart2 {
	status = "disabled";
};

&usbh1 {
	status = "disabled";
};

&usdhc2 {
	status = "disabled";
};

&usdhc3 {
	status = "okay";
};
