/*
 * Copyright (C) 2015-2017 Voipac.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;

#include "imx6q.dtsi"
#include "imx6qp.dtsi"
#include "imx6qdl-openrex.dtsi"

/ {
	model = "Fedevel i.MX6 QuadPlus OpenREX Board";
	compatible = "fsl,imx6q-openrex", "fsl,imx6q";

	memory: memory {
		reg = <0x10000000 0xF0000000>;
	};
};

&ecspi3 {
	spidev30: spi@3 {
		compatible = "spidev";
		spi-max-frequency = <57600000>;
		reg = <0>;
	};
};

&i2c1 {
	eeprom: at24@57 {
		compatible = "atmel,24c16";
		reg = <0x57>;
	};
};

&i2c2 {
	/* Raspberry Pi camera rev 1.3 */
	ov5647_mipi: ov5647_mipi@36 {
		compatible = "ovti,ov5647_mipi_int";
		reg = <0x36>;
		/* Pi camera has its own 25MHz clock. */
		clocks = <&clks IMX6QDL_CLK_DUMMY>;
		clock-names = "csi_mclk";
		DOVDD-supply = <&reg_1p8v>;
		AVDD-supply = <&reg_2p8v>;
		DVDD-supply = <&reg_1p5v>;
		pwn-gpios = <&gpio7 6 GPIO_ACTIVE_HIGH>;
		led-gpios = <&gpio7 7 GPIO_ACTIVE_HIGH>;
		csi_id = <1>;
		mclk = <25000000>;
		mclk_source = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ov5647_mipi>;
	};
};

&mxcfb1 {
	status = "okay";
};

&mxcfb2 {
	status = "disabled";
};

&mxcfb3 {
	status = "disabled";
};

&mxcfb4 {
	status = "disabled";
};

&pre1 {
	status = "okay";
};

&pre2 {
	status = "okay";
};

&pre3 {
	status = "okay";
};

&pre4 {
	status = "okay";
};

&prg1 {
	memory-region = <&memory>;
	status = "okay";
};

&prg2 {
	memory-region = <&memory>;
	status = "okay";
};

&sata {
	status = "okay";
};
